<% unless cart.line_items.empty? %>
  <div class="card pull-right" style="width: 20rem;">
    <div class="card-block">
      <h2 class="card-title">Your Cart</h2>
      <p class="card-text">
        <table>
        	<%= render(@cart.line_items) %>

        	<tr>
     				<td colspan="2">Total</td>
     				<td><%= number_to_currency(@cart.total_price) %></td>
     			</tr>
        </table>
      </p>
      <%= button_to "Checkout", new_order_path, method: :get, class: "btn btn-outline-primary my-2 my-sm-0" %> <br>
      <%= button_to 'Empty cart', @cart, class: 'btn btn-primary but', method: :delete, data: {confirm: 'Are you sure?'} %>
    </div>
  </div>
<% end %>  

