/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "lightbox-bootstrap";
@import "font-awesome";
@import "jquery-ui";

.but{border-radius: 0}
a:hover{text-decoration: none}
.thick{border-bottom: 5px solid gray}
/*.bgColor{background: #E9EAEA;}*/
 div.img{
  		margin: 5px;
  		border: 1px solid #ccc;
  		float: left;
  		width: 180px;
  	}
div.img:hover {
	border: 1px solid #777;
}
div.img img{
	width: 100%;
	/*height: auto;*/
}
div.desc{
	padding-top: 15px;
	text-align: center;
}
.icon{font-size: 44px}
footer{
  
	text-align: center;
	background: #666666;
  color: #ffffff;
}
.myfont{
	color: #7B7B7B;
}
.jumbotron{
	background-image: asset-url('home_page_pic.jpg');
	width: 950px;
}
.card{
	width: 500px;
}
.movLeft1{
	position: absolute;
	left: 750px;
}

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.home-row {
  margin-bottom: 24px;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border-width: 1px 1px 1px 5px;
  border-style: solid;
  border-color: #eee;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  border-radius: 3px;
  text-align: left;
}

.bs-callout-info {
  border-left-color: #1b809e;
}

.bs-callout-info h4 {
  color: #1b809e;
}

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.alert-info {
  text-align: left;
}

.active{
  color: #7B7B7B;
}



